.top
	.budget
		.budget__title
			| Available Budget in 
			span.budget__title--month %Month%
			| :
		.budget__value + 2,345.64
		.budget__income.clearfix
			.budget__income--text Income
			.right
				.budget__income--value + 4,300.00
				.budget__income--percentage  
		.budget__expenses.clearfix
			.budget__expenses--text Expenses
			.right.clearfix
				.budget__expenses--value - 1,954.36
				.budget__expenses--percentage 45%
.bottom
	.add
		.add__container
			select.add__type
				option(value='inc', selected='') +
				option(value='exp') -
			input.add__description(type='text', placeholder='Add description')
			input.add__value(type='number', placeholder='Value')
			button.add__btn
				i.ion-ios-checkmark-outline
	.container.clearfix
		.income
			h2.icome__title Income
			.income__list
				//
					<div class="item clearfix" id="income-0">
					<div class="item__description">Salary</div>
					<div class="right clearfix">
					<div class="item__value">+ 2,100.00</div>
					<div class="item__delete">
					<button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
					</div>
					</div>
					</div>
					<div class="item clearfix" id="income-1">
					<div class="item__description">Sold car</div>
					<div class="right clearfix">
					<div class="item__value">+ 1,500.00</div>
					<div class="item__delete">
					<button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
					</div>
					</div>
					</div>
		.expenses
			h2.expenses__title Expenses
			.expenses__list
				//
					<div class="item clearfix" id="expense-0">
					<div class="item__description">Apartment rent</div>
					<div class="right clearfix">
					<div class="item__value">- 900.00</div>
					<div class="item__percentage">21%</div>
					<div class="item__delete">
					<button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
					</div>
					</div>
					</div>
					<div class="item clearfix" id="expense-1">
					<div class="item__description">Grocery shopping</div>
					<div class="right clearfix">
					<div class="item__value">- 435.28</div>
					<div class="item__percentage">10%</div>
					<div class="item__delete">
					<button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
					</div>
					</div>
					</div>
